.pop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-bg {
  background-color: #17181e;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  z-index: -1;
}
