.bingo-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  z-index: 6;

  transform: translateY(-50%) translateX(-50%);
  transition: all 0.8s ease;
}

.close-bingo {
  left: auto;
  right: 0;
  transform: translateY(-50%) translateX(90%);
}

.bingo-card {
  width: 400px;
  height: 500px;
  background-color: #ff2550;
  border-radius: 15px;
  box-shadow: 5px 4px 7px #00000066;
  overflow: hidden;

  position: relative;
}

.bingo-heading {
  color: white;
  font-weight: 700;
  font-size: 45px;
  margin: 20px;
  text-align: center;
  letter-spacing: 16px;
}

.number-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.number-row {
  display: flex;
}

.number-row > div {
  background: white;
  margin: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
  border-radius: 13px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.free-number {
  font-size: 20px !important;
}

.number-selected::before {
  content: "x";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 52px;
  font-size: 55px;
  color: #ff254f;
}
